* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
p {
  position: relative;
  top: -14px;
}
audio {
  width: 100%;
  color: black;
  position: relative;
  top: -50px;
}

h2 {
  margin-bottom: 1rem;
}
span {
  position: relative;
  left: -12px;
}
a {
  font-size: 30px;
  color: #000;
}
a:hover {
  font-size: 30px;
  color: #7c7c7c;
}

.warp {
  width: 30%;
  /* background-color: gray; */
  border-radius: 20px;
}

.aud {
  visibility: hidden;
}

.img-q {
  visibility: hidden;
}
.txt {
  position: relative;
  top: 70px;
}
.ppp{
  margin-top: 2rem;
  padding-right: 50%;
  line-height: 31px;
}

img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 20px;
}
.img-q {
  width: 100%;
  aspect-ratio: 2/1;
  object-fit: cover;
  border-radius: 20px;
}

.w {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.next span {
  position: relative;
  left: 13px;
}

@media (max-width: 440px) {
  .warp {
    width: 80%;
  }
  p{
    font-size: 12px;
  }
  .ppp {
    line-height: 28px;
    padding-right: 40%;
  }
}